<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <% include pageHead.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-index.css" />
</head>
<body>
<% include siteTop.html %>
<div class="divSwf">
    <img src="../img/swf01.png">
</div>
<div class="divMain">
    <ul class="kb">
        <li>
            <img src="../slice/iconKB1.png" alt="内容">
            <p>金牌服务-安心</p>
            <p>严选优质月嫂</p>
        </li>
        <li>
            <img src="../slice/iconKB2.png" alt="内容">
            <p>专业 - 贴心</p>
            <p>专业服务，值得信赖</p>
        </li>
        <li>
            <img src="../slice/iconKB3.png" alt="内容">
            <p>标准化－省心</p>
            <p>公司统一标准收费</p>
        </li>
        <li>
            <img src="../slice/iconKB4.png" alt="内容">
            <p>严格培训－舒心</p>
            <p>120+课时培训，情景式培训</p>
        </li><div class="clear"></div>
    </ul>
    <h3 class="blockTitleI">服务项目</h3>
    <ul class="serList">
        <li>
            <p>严格筛选优质月嫂，专业护理产妇与新生儿</p>
            <a href="#" title="内容" target="_blank">&nbsp;&nbsp;找月嫂&nbsp;》</a>
        </li>
        <li>
            <p>严格筛选优质月嫂，专业护理产妇与新生儿</p>
            <a href="#" title="内容" target="_blank">&nbsp;&nbsp;找月嫂&nbsp;》</a>
        </li>
        <li>
            <p>严格筛选优质月嫂，专业护理产妇与新生儿</p>
            <a href="#" title="内容" target="_blank">&nbsp;&nbsp;找月嫂&nbsp;》</a>
        </li>
        <li>
            <p>严格筛选优质月嫂，专业护理产妇与新生儿</p>
            <a href="#" title="内容" target="_blank">&nbsp;&nbsp;找月嫂&nbsp;》</a>
        </li><div class="clear"></div>
    </ul>
    <div class="blockTitleII">
        <h3>优选月嫂</h3><a href="#" title="查看更多" target="_blank">查看更多</a>
    </div>
    <ul class="yxysList">
        <% for(var k=1;k<9;k++){ %>
        <li>
            <a href="#" title="张阿姨" target="_blank"><img src="../img/img05.png" alt="优选月嫂"></a>
            <p>
                <a href="#" title="张阿姨" target="_blank">张阿姨</a>
                <span>￥<b>6666</b>/月</span>
            </p>
            <p>
                学历：<span>大专</span><br>
                年龄：<span>32岁</span><br>
                经验：<span>12户/3年</span>
            </p>
        </li>
        <% } %><div class="clear"></div>
    </ul>
    <div class="blockTitleIII">
        <h3>技能培训<span>公司推荐工作，毕业即可上班上户      咨询热线：0871-12345678</span></h3>
    </div>
    <ul class="pxBlock">
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
        </li>
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
        </li>
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
            <a href="#" title="照顾宝宝和妈妈" target="_blank"><img src="../img/pictt1.png" alt=""照顾宝宝和妈妈> </a>
        </li>
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
        </li>
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
        </li>
        <li>
            <div>
                <h4><a href="#" title="母婴护理师" target="_blank">母婴护理师</a></h4>
                <h5><a href="#" title="照顾宝宝和妈妈" target="_blank">照顾宝宝和妈妈</a></h5>
            </div>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="clear"></div>
    <a href="#" title="广告" target="_blank"><img src="../img/img06.png" alt="广告"> </a>
</div>
<% include siteBtm.html %>
</body>
</html>