<div class="siteBtm">
    <div class="mid1200">
        <dl  class="btmNav">
            <dt>母婴服务</dt>
            <dd><a href="#" title="内容" target="_blank">育婴师</a></dd>
            <dd><a href="#" title="内容" target="_blank">月嫂</a></dd>
            <dd><a href="#" title="内容" target="_blank">育儿嫂</a></dd>
            <dd><a href="#" title="内容" target="_blank">催乳师</a></dd>
            <dd><a href="#" title="内容" target="_blank">小儿推拿师</a></dd>
            <dd><a href="#" title="内容" target="_blank">保健按摩师</a></dd>
        </dl>
        <dl class="btmNav">
            <dt>技能培训</dt>
            <dd><a href="#" title="内容" target="_blank">母婴护理师</a></dd>
            <dd><a href="#" title="内容" target="_blank">育婴师</a></dd>
            <dd><a href="#" title="内容" target="_blank">催乳师</a></dd>
            <dd><a href="#" title="内容" target="_blank">小儿推拿师</a></dd>
            <dd><a href="#" title="内容" target="_blank">保健按摩师</a></dd>
            <dd><a href="#" title="内容" target="_blank">产后康复师</a></dd>
        </dl>
        <dl class="btmNav">
            <dt>加盟合作</dt>
            <dd><a href="#" title="内容" target="_blank">加盟项目</a></dd>
            <dd><a href="#" title="内容" target="_blank">加盟政策</a></dd>
            <dd><a href="#" title="内容" target="_blank">总部支持</a></dd>
            <dd><a href="#" title="内容" target="_blank">连锁分店</a></dd>
        </dl>
        <dl class="btmNav">
            <dt>关于我们</dt>
            <dd><a href="#" title="内容" target="_blank">公司介绍</a></dd>
            <dd><a href="#" title="内容" target="_blank">公司文化</a></dd>
            <dd><a href="#" title="内容" target="_blank">公司资质</a></dd>
            <dd><a href="#" title="内容" target="_blank">联系我们</a></dd>
            <dd><a href="#" title="内容" target="_blank">加入我们</a></dd>
        </dl>
        <div class="clear"></div>
        <div class="wx">
            <p class="title">星月嫂之家月嫂客服中心</p>
            <p class="intro">
                关注星月嫂之家月嫂公众号，查看月嫂动态<br>
                在线预约月嫂，了解产后知识<br>
                更多优惠活动及资讯尽在其中
            </p>
        </div>
        <div class="kf">
            <p class="title">24小时服务热线  400-6666-760</p>
            <p class="intro">
                免费咨询(咨询、建议、投诉)<br>
                云南省昆明市北京路402号（塘子巷）建设大厦19楼<br>
                （塘子巷地铁站C口往北100米）
            </p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% for(var j=0;j<4;j++) {%>
<dl class="btmArc">
    <dt><a href="#" title="母婴知识" target="_blank">母婴知识</a> </dt>
    <% for(var i=1;i<14;i++) {%><dd><a href="#" title="母婴知识" target="_blank">母婴知识<%-i%></a> </dd><% } %>
    <div class="clear"></div>
</dl>
<% } %>
<div class="siteRights">
    <p>
        ©2017 www.com 星月嫂之家版权所有 滇CP备14006171号<br>
        云南星月嫂之家家政服务有限公司
    </p>
</div>
<!--用户注册登陆框-->
<div class="userBg" id="userBg">
    <div class="userBox" id="userReg">
        <h3>用户注册<a class="userCls"  href="#" title="关闭"><img src="../slice/icon_cls.png"></a> </h3>
        <div class="inputBox uId"><input class="uInput" value="请输入注册帐号"><img src="../slice/icon_g.png"></div>
        <div class="inputBox uPwd"><input class="uInput" value="请输入注册帐号"><img src="../slice/icon_x.png"></div>
        <div class="inputBox uPhone"><input class="uInput" value="请输入注册帐号"><img src="../slice/icon_g.png"></div>
        <div class="inputBox uCode"><input class="uInput" value="请输入注册帐号"><input type="button" value="获取验证码" class="getCode"></div>
        <div class="inputBox"> <input type="button" class="subBtn" value="提&nbsp;&nbsp;交"></div>
        <div class="errInfo">手机号码输入错误</div>
    </div>
    <div class="userBox" id="userLogin">
        <h3>用户登陆<a class="userCls"  href="#" title="关闭"><img src="../slice/icon_cls.png"></a></h3>
        <div class="inputBox uId"><input class="uInput" value="请输入注册帐号"><img src="../slice/icon_g.png"></div>
        <div class="inputBox uPwd"><input class="uInput" value="请输入注册帐号"><img src="../slice/icon_x.png"></div>
        <div class="inputBox uCode"><input class="uInput" value="请输入注册帐号"><input type="button" value="获取验证码" class="getCode"></div>
        <div class="inputBox"> <input type="button" class="subBtn" value="提&nbsp;&nbsp;交"></div>
        <div class="errInfo">手机号码输入错误</div>
    </div>
</div>
<script>
    $("#userLoginBtn").click(function(){
        $("#userBg,#userLogin").fadeIn();

    });
    $("#userRegBtn").click(function(){
        $("#userBg,#userReg").fadeIn();
    });
    $(".userCls").click(function(){
        $("#userBg,#userLogin,#userReg").fadeOut();
    });
    $("#userBg").click(function(){
        //$("#userBg,#userLogin,#userReg").fadeOut();
    });
</script>