<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户后台-我的评价</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <% include pageHead.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-listPage.css" />
</head>
<body>
<% include siteTop.html %>
<div class="breadNav">
    <div class="mid1200"><span>当前位置</span>:<span>首页</span>><span>用户中心</span>><span>我的预约</span></div>
</div>
<div class="divMain">
    <div class="leftBar">
        <h3>用户中心</h3>
        <ul>
            <li class="act"><a href="#" title="内容">我的预约</a></li>
            <li><a href="#" title="内容">我的服务</a></li>
            <li><a href="#" title="内容">我的评价</a></li>
        </ul>
    </div>
    <div class="rightContent">
        <ul class="guestList">
            <%for(i=0;i<2;i++){%>
            <li>
                <h4>发表日期 : 2017-06-01</h4>
                <p>      <span>“</span>感谢月嫂杨姐对我和宝宝一个月来的细心照顾，杨姐很专业，经验丰富，好多宝宝的问题都遇到过，杨姐帮宝宝调整了好的作息习惯，在没有月嫂的日子里我一个人带也省力很多，对于新妈妈在月子期间的饮食更是搭配的合理又美味，做得一手好菜，真不舍得杨姐走啊，开奶水平也很棒，在一开始宝宝住院半个月没能吸到母乳的情况下实现了全母乳喂养，宝宝体重也从出生的7斤3两满月时已达9斤半，衷心的说声杨姐很棒值得推荐。<span>”</span></p>
            </li>
            <%}%>
        </ul>
    </div><div class="clear"></div>
</div>
<% include siteBtm.html %>
</body>
</html>