<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>小儿推拿</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <% include pageHead.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-xiaoertuina.css" />
</head>
<body>
<% include siteTop.html %>
<div class="breadNav">
    <div class="mid1200"><span>当前位置</span>:<span>首页</span>><span>用户中心</span>><span>小儿推拿</span></div>
</div>
<div class="tnSwf">
    <img src="../img/tnSwfImg.png" alt="小儿推拿">
</div>
<div class="tnBg">
    <div class="divMain">
        <div class="colA">
            <img src="../img/tnPic1.png" alt="小儿推拿简介">
            <h3 class="title">小儿推拿简介</h3>
            <p class="intro">小儿推拿是以中医辩证理论为基础，通过穴位点按推拿、调节脏腑、疏通经络、调和气血、平衡阴阳的方式来改善儿童体质、提高机体免疫力的一种保健、治疗方式。小儿推拿是纯绿色疗法，可替代部分化学药品，减少化学药品毒副作用，增强孩子机体的自然抗病能力，预防病毒侵蚀和滋生，达到有病治病、无病保健的目的。随着现代人们健康理念的更新，很多家长都开始信任和采用纯绿色疗法——小儿推拿，目前，该疗法已成为国际儿童保健、治疗的重要方法之一。</p><div class="clear"></div>
        </div>
    </div>
</div>
<% include siteBtm.html %>
</body>
</html>