/*导入基础less样式*/
@import "basic";
@charset "UTF-8";
.divSwf{
  width:1903px;
  height:600px;
  overflow: hidden;
}
.divMain{
  width: 1200px;
  margin:0 auto;
  //background: #F8F8F8;
}
.kb{
  margin:10px 0 20px 0;
  border:1px solid @xysRed;
  li{
    width:299.5px;
    height:100px;
    float:left;
    border-right:1px solid @xysRed;
    img{
      float:left;
      margin:18px 18px 0 18px;
    }
    p:nth-child(2){
      font-size: 18px;
      color: @xysRed;
      margin:26px 0 7px 0;
    }
  }
  li:last-of-type{
    border:none;
  }
}
.blockTitleI{
  width:115px;
  height: 22px;
  line-height: 22px;
  margin:0 auto;
  padding:0 0 0 10px;
  font-size: 24px;
  font-weight: normal;
  border-left:4px solid @xysRed;
}
.blockTitleII{
  width:100%;
  height:33px;
  position: relative;
  border-bottom: 1px solid #BEBEBE;
  h3{
    width:100px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    font-weight: normal;
    color: #494949;
    padding:0 0 7px 0;
    bottom:-1px;
    position: absolute;
    border-bottom: 2px solid #767474;
  }
  a{
    color: #494949;
    right:37px;
    bottom:-9px;
    font-size: 12px;
    padding:0 4px;
    position: absolute;
    border:1px solid #BEBEBE;
    background: #FFF;
  }
  a:hover{
    color:@xysRed;
  }
}
.blockTitleIII{
  width:100%;
  height:55px;
  text-indent: 90px;
  background:url("../slice/headPx.png") no-repeat #D7244E;
  h3{
    color: @xysGold;
    font-size: 30px;
    font-weight: normal;
    line-height: 55px;
    span{
      font-size: 20px;
      color: #FFF;
      margin:0 0 0 15px;
    }
  }
}
.serList{
  margin:20px 0 10px 0;
  li{
    width:598px;
    height:398px;
    float:left;
    position: relative;
    margin:0 4px 4px 0;
    p:nth-child(1){
      font-size: 22px;
      line-height: 3;
      text-align: center;
    }
    a{
      width:145px;
      height:50px;
      bottom:20px;
      left:50%;
      margin-left:-72px;
      color: #FFF;
      font-size: 22px;
      line-height: 50px;
      text-align: center;
      display: block;
      position: absolute;
      border:1px solid @xysRed;
      border-radius: 25px;
      background: @xysRed;
    }
  }
  li:nth-child(1){
    color: #0B4859;
    background:url("../img/img01.png");
  }
  li:nth-child(2){
    color: #626406;
    margin:0 0 4px 0;
    background:url("../img/img02.png");
  }
  li:nth-child(3){
    color: #51504E;
    background:url("../img/img03.png");
  }
  li:nth-child(4){
    color: #653110;
    margin:0 0 4px 0;
    background:url("../img/img04.png");
  }
}
.yxysList{
  margin:15px 0;
  li{
    width:294.5px;
    height:150px;
    float:left;
    margin:0 7px 7px 0;
    color: #626060;
    background:#F3F8FE;
    img{
      float:left;
      margin:5px 15px 0 5px;
    }
    p:nth-child(2){
      margin:25px 0 0 0;
      font-size: 20px;
      span{
        font-size: 12px;
        b{
          color: @xysRed;
          font-size: 20px;
          margin:0 3px;
        }
      }
    }
    p:nth-child(3){
      margin:10px 0 0 0;
      font-size: 16px;
      line-height: 1.7;
      span{
        color: #494949;
      }
    }
  }
  li:nth-child(4),li:nth-child(8){
    margin:0 0 7px 0;
  }
}
.pxBlock{
  width:1300px;
  //margin:0 0 0 3px;
  overflow: hidden;
  li{
    float: left;
    margin:12px 12px 12px 0;
    div{
      width:163px;
      height:163px;
      float: left;
      text-align: center;
      a{
        color: #FFF;
      }
      h4{
        margin:52px 0 0 0;
        font-size: 24px;
      }
      h5{
        margin:5px 0 0 0;
        font-size: 16px;
        font-weight: normal;
      }
    }
    img{
      float:left;
    }
  }
  li:nth-child(1) div{
    background: #F24770;
  }
  li:nth-child(2) div{
    background: #FF8123;
  }
  li:nth-child(3) div{
    background: #CBC11E;
  }
  li:nth-child(4) div{
    background: #A0CF20;
  }
  li:nth-child(5) div{
    background: #1D7EC9;
  }
  li:nth-child(6) div{
    margin:0;
    background: #921DC9;
  }
}
.indexPxAd{
  display: block;
  margin:0 0 10px 0;
}
.pxInfo{
  width:420px;
  float:left;
  height:265px;
  .blockTitleII{
    a{
      color: #494949;
      right:0px;
      bottom:5px;
      font-size: 14px;
      position: absolute;
      border:none;
      background: #FFF;
    }
    a:hover{
      color: @xysRed;
    }
  }
  ul{
    font-size: 16px;
    margin:15px 10px 0 6px;
    li{
      margin:0 0 11px 0;
      padding:0 0 0 10px;
      background: url("../slice/pointGray.png") no-repeat 0 center;
      .btn{
        font-size: 14px;
        color: #FFF;
        margin:-5px 0 0 0;
        padding:2px 5px;
        float:right;
        background: @xysRed;
        border:1px solid @xysRed;
        border-radius:6px;
      }
      .btn:hover{
        color: @xysGold;
      }
    }
  }
}
.pxTeacher{
  width:440px;
  height:265px;
  float:left;
  margin:0 0 0 10px;
  .blockTitleII{
    a{
      color: #494949;
      right:0px;
      bottom:5px;
      font-size: 14px;
      position: absolute;
      border:none;
      background: #FFF;
    }
    a:hover{
      color: @xysRed;
    }
  }
  .tImg{
    float:left;
    margin:10px 20px 0 10px;
  }
  .tIntro{
    color: #494949;
    font-size: 14px;
    margin:15px 0;
    line-height: 1.5;
    a{
      color: @xysRed;
      font-size: 22px;
      margin:10px 0;
    }
    p{
      color: #000;
      margin:5px 0 0 0;
      line-height: 1.5;
      text-indent: 2em;
    }
  }
}
.pxInput{
  width:320px;
  height:265px;
  float:right;
  background:#F5F3F3;
  border:1px solid #F5F3F3;
  border-radius: 5px;
  h3{
    color: #FFF;
    padding:5px 0;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    background: @xysRed;
    border:1px solid @xysRed;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
  form{
    margin:28px 20px 15px 20px;
    p{
      margin:0 0 20px 0;
    }
    label{
      color: #494949;
      font-size: 18px;
      letter-spacing:0.5em;
      height:24px;
      line-height: 24px;
      padding:0 0 0 40px;
      float:left;
    }
    label.sName{
      background: url("../slice/iconUser.png") no-repeat;
    }
    label.sKC{
      background: url("../slice/iconKc.png") no-repeat;
    }
    label.sPhone{
      background: url("../slice/iconPhone.png") no-repeat;
    }
    input,select{
      width:180px;
      height:35px;
      margin:-7px 0 0 0;
      padding:0 5px;
      font-size: 16px;
      line-height: 30px;
      border:1px solid #D2D2D2;
      border-radius: 5px;
    }
    input.subBtn{
      width:180px;
      height:35px;
      margin:0 0 0 65px;
      font-size: 18px;
      color: @xysGold;
      background: #D92550;
      border:1px solid #A51336;
      border-radius: 5px;
    }
  }
}
.pxAlbum{
  width:100%;
  height:287px;
  margin:20px 0;
  background: url("../img/albumBg.png") no-repeat center 0;
}
.pxkb{
  margin:10px 0 20px 0;
  li{
    width:300px;
    float:left;
    text-align: center;
    img{
      margin:15px auto;
    }
    p:nth-child(2){
      font-size: 20px;
      color: @xysRed;
      margin:15px 0 7px 0;
    }
    p:nth-child(3){
      line-height: 1.5;
    }
  }
}
.serMap{
  margin:15px auto;
}
.comIntro{
  marign:10px;
  font-size: 16px;
  color: #494949;
  p{
    text-indent: 2em;
    line-height: 1.5;
    margin:0 0 10px 0;
  }
}